<!doctype html>
<html ng-app>
  <head>
  	<title>Redistadelle Admin</title>
	<!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
	
	<!-- Bootstrap -->
	<link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
	<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
	
	<!-- Redistadelle -->
	<script src="@routes.Assets.at("redistadelle/js/controllers/admin.js")"></script>
	<link href="@routes.Assets.at("redistadelle/css/style.css")" rel="stylesheet" type="text/css" />
	
  </head>
  <body>
  
	<div class="container" ng-controller="AdminCtrl">
		<br>
		

		TODO page d'admin<br><br>
		
		-> Init redis base<br>
		-> View redis base<br>
		-> Create a new game<br>
		-> View game data<br>
		-> clear game<br>
		
	</div>
   
  </body>
</html>