<!doctype html>
<html ng-app>
  <head>
  	<title>Redistadelle</title>
	<!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
	
	<!-- Bootstrap -->
	<link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
	<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
	
	<!-- Redistadelle -->
	<script src="@routes.Assets.at("redistadelle/js/controllers/redistadelle.js")"></script>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("redistadelle/css/style.css")" />
	
  </head>
  <body>
  
  	<header class="navbar navbar-inverse navbar-fixed-top">
  		<ul class="nav navbar-nav navbar-right">
      		<li><a href="@routes.Application.logout()">Logout</a></li>
      	</ul>
	</header>
	
	<br><br><br>
	
	<div class="container" ng-controller="RedistadelleCtrl">	

		<div class="row">
		
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading"><h4>{{player.num}} - {{player.name}} / {{player.job}} / Or {{player.gold}}</h4></div>
					<div class="panel-body">
						Main ({{player.hand.length}}) : {{player.hand}}<br>
						Ville ({{player.city.length}}) : {{player.city}}<br>
						<a href="#" class="btn btn-default">Piocher</a> Ou <a href="#" class="btn btn-default">Recolter</a><br>
						<select ng-model="selected" ng-show="player.job == 'ASSASSIN' || player.job=='THIEF'">
							<option value="THIEF" ng-show="player.job == 'ASSASSIN'">Voleur</option>
							<option value="WIZARD">Magicien</option>
							<option value="KING">Roi</option>
							<option value="BISHOP">Eveque</option>
							<option value="TRADER">Marchand</option>
							<option value="ARCHITECT">Architecte</option>
							<option value="WARLORD">Condotiere</option>
						</select>
						<a href="#" ng-click="kill()" ng-show="player.job == 'ASSASSIN'" class="btn btn-default">Assassiner</a>
						<a href="#" ng-click="stole()" ng-show="player.job == 'THIEF'" class="btn btn-default">Voler</a><br>
							
					</div>
				</div>
			</div>
		
			<div class="col-lg-6" ng-repeat="otherPlayer in otherPlayers">
				<div class="panel panel-info">
					<div class="panel-heading"><h4>
						{{otherPlayer.num}} - {{otherPlayer.name}} / {{otherPlayer.job}} / Or {{otherPlayer.gold}} / Main {{otherPlayer.hand.length}}
					</h4></div>
					<div class="panel-body">
						Ville ({{otherPlayer.city.length}}) : {{otherPlayer.city}}
					</div>
				</div>
			</div>

        </div>
		
	</div>
   
  </body>
</html>